@page
@model TaskTracker.Pages.Users.IndexModel
@{
    ViewData["Title"] = "Kullanıcı Paneli";
}

<h2>Hoş Geldiniz!</h2>

<p>Bu sayfadan kullanıcı işlemlerine ulaşabilirsiniz:</p>
<ul>
    <li><a asp-page="List">Kullanıcıları Görüntüle</a></li>
    <li><a asp-page="Add">Yeni Kullanıcı Ekle</a></li>
</ul>