@page
@model TaskTracker.Pages.Auth.LoginModel

<h2>Giriş Yap</h2>

<form method="post">
    <div class="mb-3">
        <label for="Username">Kullanıcı Adı</label>
        <input type="text" name="Username" class="form-control" />
    </div>

    <div class="mb-3">
        <label for="Password">Şifre</label>
        <input type="password" name="Password" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Giriş Yap</button>

    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="alert alert-danger mt-3">
            @Model.ErrorMessage
        </div> // kulalnıcı giriş için
    }
</form>